<div class="row">
  <div class="col-3 tp-div">
    <img
      class="tp-image"
      src="{{
        user.profilePicture != null
          ? user.profilePicture
          : 'https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png'
      }}"
      alt="Profile Picture"
    />
  </div>
  <div class="col-9 tp-padd">
    <div class="mb-3">
      <h5 class="text-muted mt-1 tp-inline">
        {{ user.firstName + ' ' + user.lastName }}
      </h5>
      <button
        *ngIf="!reservationInfo"
        mat-raised-button
        color="primary"
        class="btn-block btn-no-shadow w-25 float-right tp-inline"
        (click)="manageCards()"
      >
        Cards
      </button>
      <button
        *ngIf="
          isSignedUp &&
          reservationInfo &&
          !reservationInfo.isReserveList &&
          isPossible()
        "
        mat-raised-button
        color="primary"
        class="btn-block btn-no-shadow w-25 float-right tp-inline"
        (click)="signOut()"
      >
        Sign out
      </button>
      <button
        *ngIf="
          reservationInfo &&
          !isSignedUp &&
          training.entriesLeft !== 0 &&
          isPossible()
        "
        mat-raised-button
        color="primary"
        class="btn-block btn-no-shadow w-25 float-right tp-inline"
        (click)="signUp()"
      >
        Sign up
      </button>
      <button
        *ngIf="
          reservationInfo &&
          !isSignedUp &&
          training.entriesLeft === 0 &&
          isPossible()
        "
        mat-raised-button
        (click)="signUp()"
        color="primary"
        class="btn-no-shadow float-right"
      >
        Sign up for a reserve list
      </button>
      <button
        *ngIf="
          reservationInfo &&
          isSignedUp &&
          reservationInfo.isReserveList &&
          isPossible()
        "
        mat-raised-button
        (click)="signOut()"
        color="primary"
        class="btn-no-shadow float-right"
      >
        Sign out from a reserve list
      </button>
    </div>
    <p class="text-muted mb-2" *ngIf="user.email != null">
      <span><i class="fa fa-envelope" aria-hidden="true"></i></span>
      {{ user.email }}
    </p>
    <p class="text-muted mb-2" *ngIf="user.city != null">
      <span><i class="fa fa-home" aria-hidden="true"></i></span>
      {{ user.city }}
    </p>
  </div>
</div>
