<button
  mat-raised-button
  color="primary"
  class="btn-block mb-3 mt-4 btn-no-shadow w-25 float-right"
  (click)="openDialog('Add', {})"
>
  Add Gym Card
</button>

<table
  mat-table
  [dataSource]="dataSource"
  class="mat-elevation-z8 w-100"
  *ngIf="isLoaded"
>
  <ng-container matColumnDef="name">
    <th mat-header-cell class="tp-center-align" *matHeaderCellDef>
      Name
    </th>
    <td mat-cell class="text-muted" *matCellDef="let element">
      {{ element.name }}
    </td>
  </ng-container>

  <ng-container matColumnDef="validityPeriod">
    <th mat-header-cell class="tp-center-align" *matHeaderCellDef>
      Validity Period
    </th>
    <td mat-cell class="text-muted" *matCellDef="let element">
      {{ element.validityPeriod }}
    </td>
  </ng-container>

  <ng-container matColumnDef="entries">
    <th mat-header-cell class="tp-center-align" *matHeaderCellDef>
      Entries
    </th>
    <td mat-cell class="text-muted" *matCellDef="let element">
      {{ element.entries }}
    </td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell class="tp-center-align" *matHeaderCellDef>
      Price
    </th>
    <td mat-cell class="text-muted" *matCellDef="let element">
      {{ element.price + ' zł' }}
    </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell class="tp-center-align" *matHeaderCellDef>Action</th>
    <td mat-cell *matCellDef="let element" class="action-link">
      <mat-chip-list>
        <mat-chip
          color="primary"
          selected
          class="tp-label"
          (click)="openDialog('Edit', element)"
          >Edit</mat-chip
        >
        <mat-chip
          color="warn"
          selected
          class="tp-label"
          (click)="openDialog('Delete', element)"
          >Delete</mat-chip
        ></mat-chip-list
      >
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
