<div class="row full-width" *ngIf="isLoaded">
  <div class="col-lg-4 mx-auto">
    <mat-card class="my-4 text-center">
      <i class="fas fa-times-circle tp-icon mt-1"></i>
      <h4 class="text-muted mt-1">Oh no!</h4>
      <h6 class="text-muted">
        Something went wrong. It's possible that your confirmation link has
        expired. Click the button below to generate another.
      </h6>
      <button
        mat-raised-button
        color="primary"
        class="btn-block my-2 btn-no-shadow"
        (click)="send()"
      >
        Try again
      </button>
    </mat-card>
  </div>
</div>
