<div class="row full-width" *ngIf="isLoaded">
  <div class="col-lg-6 mx-auto">
    <mat-card class="my-4">
      <div class="tp-right">
        <button
          mat-raised-button
          color="warn"
          class="btn-block btn-no-shadow w-25"
          *ngIf="isTrainer"
          (click)="deleteTrainerAccount()"
        >
          Delete profile
        </button>
      </div>
      <form class="text-center p-5" [formGroup]="trainerForm.trainerForm">
        <h4 class="text-muted" *ngIf="!isTrainer; else editTitle">
          Create a trainer profile
        </h4>
        <ng-template #editTitle>
          <h4 class="text-muted">
            Edit a trainer profile
          </h4>
        </ng-template>

        <app-custom-control-group
          *ngFor="let controlGroup of formControls.controlGroups"
          [customControlGroup]="controlGroup"
        ></app-custom-control-group>

        <app-pricelist-table
          [dataSource]="priceList"
          [userId]="userId"
          [isDisabled]="trainerForm.trainerForm.disabled"
          (priceListChange)="receivePriceList($event)"
        >
        </app-pricelist-table>

        <button
          mat-raised-button
          color="primary"
          class="btn-block my-4 btn-no-shadow"
          type="submit"
          *ngIf="!isTrainer"
          [disabled]="!trainerForm.trainerForm.valid"
          (click)="createTrainerAccount()"
        >
          Create
        </button>
        <button
          mat-raised-button
          color="primary"
          class="btn-block my-4 btn-no-shadow"
          type="submit"
          *ngIf="isTrainer && !isEdited"
          (click)="editTrainerAccount()"
        >
          Edit
        </button>
        <div *ngIf="isEdited" class="row">
          <div class="col">
            <button
              mat-raised-button
              class="btn-block my-4 btn-no-shadow"
              color="primary"
              [disabled]="!trainerForm.trainerForm.valid"
              (click)="saveTrainerData()"
            >
              Save
            </button>
          </div>
          <div class="col">
            <button
              mat-raised-button
              class="btn-cancel btn-block my-4 btn-no-shadow"
              (click)="cancel()"
            >
              Close
            </button>
          </div>
        </div>
      </form>
    </mat-card>
  </div>
</div>
