<div class="row mt-3 text-muted">
  <div class="col">
    <mat-form-field class="tp-inline w-25">
      <input
        matInput
        type="text"
        class="text-muted"
        placeholder="Search"
        [(ngModel)]="filterData.keywords"
      />
    </mat-form-field>
  </div>
  <div class="col tp-padd">
    <mat-radio-group [(ngModel)]="filterData.isActive">
      <mat-radio-button value="true" color="primary" class="tp-margin"
        >Active</mat-radio-button
      >
      <mat-radio-button value="false" color="primary" class="tp-margin"
        >Inactive</mat-radio-button
      >
      <mat-radio-button [value]="undefined" color="primary" class="tp-margin"
        >All</mat-radio-button
      >
    </mat-radio-group>
  </div>
  <div class="col" *ngIf="!isUser">
    <mat-form-field class="tp-inline w-25 text-muted">
      <mat-label>Type</mat-label>
      <mat-select
        [(ngModel)]="filterData.name"
        placeholder="Type"
        class="text-muted"
      >
        <mat-option
          *ngFor="let name of cardNames"
          [value]="name"
          class="text-muted"
        >
          {{ name }}
        </mat-option>
        <mat-option [value]="null" class="text-muted">
          All
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<div class="row">
  <div class="col text-right">
    <button
      mat-raised-button
      color="primary"
      class="btn-block btn-no-shadow tp-inline tp-margin-right w-25"
      (click)="filter()"
    >
      Filter
    </button>
    <button
      mat-raised-button
      color="primary"
      class="btn-block btn-no-shadow tp-inline tp-margin-left w-25"
      (click)="clear()"
      [disabled]="isClear"
    >
      Clear
    </button>
  </div>
</div>
