<div class="row full-width" *ngIf="isLoaded">
  <div class="col-lg-6 mx-auto">
    <mat-card class="my-4">
      <form class="text-center p-5" [formGroup]="trainingForm.trainingForm">
        <h4 class="text-muted mb-3" *ngIf="!isEdit; else editTitle">
          Create new training
        </h4>
        <ng-template #editTitle>
          <h4 class="text-muted mb-3">
            Edit your training
          </h4>
        </ng-template>
        <img
          class="tp-picture"
          src="{{
            training.picture
              ? training.picture
              : 'https://i.ibb.co/d0Zg3qs/newgym.png'
          }}"
          alt="Training Picture"
        /><br />
        <div *ngIf="(isEdited && training.picture == null) || !isEdit">
          <input
            type="file"
            id="file"
            accept="image/*"
            (change)="changePictureListener($event)"
          />
          <label for="file" class="my-btn tp-btn">Add photo</label>
        </div>
        <button
          mat-raised-button
          color="primary"
          class="btn-no-shadow btn-block tp-btn"
          *ngIf="isEdited && training.picture != null"
          (click)="training.picture = null"
        >
          Delete photo
        </button>
        <app-custom-control-group
          *ngFor="let controlGroup of formControls.controlGroups"
          [customControlGroup]="controlGroup"
        ></app-custom-control-group>

        <mat-expansion-panel class="mt-4">
          <mat-expansion-panel-header>
            <mat-panel-title class="text-muted">
              Exercises
            </mat-panel-title>
          </mat-expansion-panel-header>

          <button
            mat-raised-button
            color="primary"
            class="btn-block mb-3 btn-no-shadow w-25 float-right"
            (click)="openExerciseDialog('Add', {})"
            [disabled]="trainingForm.trainingForm.disabled"
          >
            Add Exercise
          </button>

          <app-slider *ngIf="exercises.length !== 0">
            <div appSliderItem *ngFor="let exercise of exercises">
              <mat-card class="example-card">
                <mat-card-header class="tp-display">
                  <mat-card-title class="text-muted">{{
                    exercise.name
                  }}</mat-card-title>
                  <mat-card-subtitle
                    >Series: {{ exercise.series }}</mat-card-subtitle
                  >
                  <mat-card-subtitle *ngIf="exercise.duration"
                    >Duration: {{ exercise.duration }} s</mat-card-subtitle
                  >
                  <mat-card-subtitle *ngIf="exercise.repetitions"
                    >Repetitions: {{ exercise.repetitions }}</mat-card-subtitle
                  >
                  <div class="controls">
                    <button
                      mat-raised-button
                      color="primary"
                      class="btn-no-shadow mar-r"
                      (click)="openExerciseDialog('Edit', exercise)"
                      [disabled]="trainingForm.trainingForm.disabled"
                    >
                      Edit
                    </button>

                    <button
                      mat-raised-button
                      class="btn-no-shadow mar-l btn-red"
                      (click)="openExerciseDialog('Delete', exercise)"
                      [disabled]="trainingForm.trainingForm.disabled"
                    >
                      Delete
                    </button>
                  </div>
                </mat-card-header>
              </mat-card>
            </div>
          </app-slider>
        </mat-expansion-panel>
        <button
          mat-raised-button
          color="primary"
          class="btn-block mt-4 mb-0 btn-no-shadow"
          type="submit"
          *ngIf="!isEdit"
          [disabled]="!trainingForm.trainingForm.valid"
          (click)="createTraining()"
        >
          Create
        </button>
        <button
          mat-raised-button
          color="primary"
          class="btn-block mt-4 mb-0 btn-no-shadow"
          *ngIf="isEdit && !isEdited"
          (click)="editTraining()"
        >
          Edit
        </button>
        <div *ngIf="isEdited" class="row">
          <div class="col">
            <button
              mat-raised-button
              class="btn-block my-4 btn-no-shadow"
              color="primary"
              [disabled]="!trainingForm.trainingForm.valid"
              (click)="saveTrainingData()"
            >
              Save
            </button>
          </div>
          <div class="col">
            <button
              mat-raised-button
              color=""
              class="btn-cancel btn-block my-4 btn-no-shadow"
              (click)="cancel()"
            >
              Close
            </button>
          </div>
        </div>
      </form>
    </mat-card>
  </div>
</div>
