<div class="full-width" *ngIf="isLoaded">
  <div class="col-lg-3"></div>
  <div class="col-lg-6 mx-auto tp-main-col">
    <mat-card class="my-4">
      <div class="tp-right">
        <button
          mat-raised-button
          class="btn-block btn-no-shadow w-25 btn-red"
          (click)="deleteAccount()"
        >
          Delete profile
        </button>
      </div>
      <button
        mat-raised-button
        color="primary"
        class="btn-block btn-no-shadow w-25 float-right mt-2 tp-display"
        (click)="openDialog()"
      >
        Change password
      </button>
      <form
        class="text-center p-5"
        [formGroup]="userForm.userForm"
        (ngSubmit)="editUserData()"
      >
        <img
          class="tp-image"
          src="{{
            user.profilePicture != null
              ? user.profilePicture
              : 'https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png'
          }}"
          alt="Profile Picture"
        /><br />
        <div *ngIf="user.profilePicture == null && isEdited">
          <input
            type="file"
            id="file"
            accept="image/*"
            (change)="changePictureListener($event)"
          />
          <label for="file" class="my-btn tp-btn">Add photo</label>
        </div>
        <button
          mat-raised-button
          color="primary"
          class="btn-no-shadow btn-block tp-btn"
          *ngIf="user.profilePicture != null && isEdited"
          (click)="user.profilePicture = null"
        >
          Delete photo
        </button>

        <app-custom-control-group
          *ngFor="let controlGroup of formControls.controlGroups"
          [customControlGroup]="controlGroup"
        ></app-custom-control-group>

        <button
          mat-raised-button
          *ngIf="!isEdited"
          class="btn-block mt-4 btn-no-shadow"
          color="primary"
          type="submit"
        >
          Edit
        </button>
        <div *ngIf="isEdited" class="row">
          <div class="col">
            <button
              mat-raised-button
              class="btn-block my-4 btn-no-shadow"
              color="primary"
              [disabled]="!userForm.userForm.valid"
              (click)="saveUserData()"
            >
              Save
            </button>
          </div>
          <div class="col">
            <button
              mat-raised-button
              class="btn-cancel btn-block my-4 btn-no-shadow"
              (click)="cancel()"
            >
              Close
            </button>
          </div>
        </div>
      </form>
    </mat-card>
  </div>
  <div class="col-lg-3"></div>
</div>
