.tp-vcenter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.active {
  color: #6c757d;
}

.inactive {
  color: #c2c1c1;
}

.active-btn {
  background-color: #3f51b5;
  color: white;
}

.inactive-btn {
  background-color: #a0a9de;
  color: white;
}

.tp-width {
  width: 25%;
}

.tp-margin-right {
  margin-right: 2px;
  margin-top: 0px;
}

.tp-margin-left {
  margin-left: 2px;
  margin-top: 0px;
}

.tp-margin-both {
  margin-right: 2px;
  margin-left: 2px;
  margin-top: 0px;
}
