<div class="row">
  <div
    *ngIf="isClub && !isUser"
    class="col tp-vcenter"
    [ngClass]="{
      active: !inactive,
      inactive: inactive
    }"
  >
    {{ card.userName }}
  </div>
  <div
    *ngIf="!isClub && isUser"
    class="col tp-vcenter"
    [ngClass]="{
      active: !inactive,
      inactive: inactive
    }"
  >
    {{ card.clubName }}
  </div>
  <div
    class="col tp-vcenter"
    [ngClass]="{
      active: !inactive,
      inactive: inactive
    }"
  >
    {{ card.name }}
  </div>
  <div
    class="col tp-vcenter"
    [ngClass]="{
      active: !inactive,
      inactive: inactive
    }"
  >
    {{
      !card.expirationDate || card.unlimitedValidityPeriod ? 'unlimited' : date
    }}
  </div>
  <div class="col">
    <button
      mat-raised-button
      color="primary"
      class="btn-block btn-no-shadow"
      [ngClass]="{
        'active-btn': !inactive,
        'inactive-btn': inactive
      }"
      (click)="viewDetails()"
    >
      View details
    </button>
  </div>
</div>
<div class="row">
  <div class="col">
    <button
      *ngIf="isUser && isClub"
      mat-raised-button
      color="primary"
      class="btn-block btn-no-shadow"
      (click)="editCard()"
    >
      Edit
    </button>
  </div>
  <div class="col">
    <button
      *ngIf="isUser && isClub"
      mat-raised-button
      color="warn"
      class="btn-block btn-no-shadow"
      (click)="deleteCard()"
    >
      Delete
    </button>
  </div>
  <div class="col">
    <button
      *ngIf="isUser && isClub"
      mat-raised-button
      color="primary"
      class="btn-block btn-no-shadow"
      (click)="deactivateCard()"
    >
      Deactivate
    </button>
  </div>
</div>
