.tp-padd {
  margin-left: 3rem;
  margin-right: 3rem;
  width: 516.5px;
}

.tp-margin {
  margin-top: 42px;
}

.tp-mx {
  margin-left: 2rem;
  margin-right: 2rem;
}

.btn-cancel {
  background-color: #868e96;
  color: white;
}
