<div class="row full-width">
  <div class="col-lg-6 mx-auto">
    <mat-card class="my-4">
      <form class="text-center p-5" [formGroup]="bodyForm.bodyForm">
        <app-custom-control-group
          *ngFor="let controlGroup of formControls.controlGroups"
          [customControlGroup]="controlGroup"
        ></app-custom-control-group>
        <button
          mat-raised-button
          color="primary"
          class="btn-block my-4 btn-no-shadow"
          type="submit"
          [disabled]="!bodyForm.bodyForm.valid"
        >
          Add
        </button>
      </form>
      <mat-checkbox
        color="primary"
        class="text-muted mt-2"
        [(ngModel)]="isInjured"
        >Do you have any injuries?</mat-checkbox
      >
      <mat-form-field class="full-width" *ngIf="isInjured">
        <mat-label>Injuries</mat-label>
        <mat-select multiple>
          <mat-option
            class="text-muted"
            *ngFor="let injury of injuries; let i = index"
            [value]="selectedInjury"
            >{{ injuries[i] }}</mat-option
          >
        </mat-select>
        <mat-error> </mat-error>
      </mat-form-field>
    </mat-card>
  </div>
</div>
