<div class="row full-width" *ngIf="isLoaded">
  <div class="col-lg-6 mx-auto">
    <mat-card class="my-4">
      <form class="text-center pr-5 pl-5 pt-5" [formGroup]="bodyForm.bodyForm">
        <h4 class="text-muted" *ngIf="!isEdit">
          Add new measurement
        </h4>
        <h4 class="text-muted" *ngIf="isEdit">
          Edit measurement
        </h4>
        <app-custom-control-group
          *ngFor="let controlGroup of formControls.controlGroups"
          [customControlGroup]="controlGroup"
        ></app-custom-control-group>
      </form>
      <div class="text-center">
        <mat-checkbox
          color="primary"
          class="text-muted mt-2 mb-2"
          [disabled]="!isEdited"
          [(ngModel)]="isInjured"
          >Do you have any injuries?</mat-checkbox
        >
      </div>
      <form [formGroup]="injuryForm" class="tp-padd" *ngIf="isInjured">
        <app-custom-control
          [customControl]="injuriesControl"
        ></app-custom-control>
      </form>
      <button
        *ngIf="!isEdit"
        mat-raised-button
        color="primary"
        class="btn-block mb-4 tp-margin btn-no-shadow tp-padd"
        (click)="addMeasurement()"
        [disabled]="
          (!bodyForm.bodyForm.valid && !isInjured) ||
          (isInjured && (!bodyForm.bodyForm.valid || !injuryForm.valid))
        "
      >
        Add
      </button>
      <button
        *ngIf="isEdit && !isEdited"
        mat-raised-button
        color="primary"
        class="btn-block mb-4 tp-margin btn-no-shadow tp-padd"
        (click)="editMeasurement()"
      >
        Edit
      </button>
      <div *ngIf="isEdited" class="row tp-mx tp-margin">
        <div class="col">
          <button
            mat-raised-button
            class="btn-block mb-4 btn-no-shadow"
            color="primary"
            [disabled]="
              (!bodyForm.bodyForm.valid && !isInjured) ||
              (isInjured && (!bodyForm.bodyForm.valid || !injuryForm.valid))
            "
            (click)="saveMeasurementData()"
          >
            Save
          </button>
        </div>
        <div class="col">
          <button
            mat-raised-button
            class="btn-cancel btn-block mb-4 btn-no-shadow"
            (click)="cancel()"
          >
            Close
          </button>
        </div>
      </div>
    </mat-card>
  </div>
</div>
