.tp-messages {
  overflow-y: auto;
  overscroll-behavior: contain contain;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.tp-message {
  align-self: flex-start;
  max-width: 100%;
}

.tp-message.sender {
  align-self: flex-end;
}

.tp-textarea-row {
  margin-bottom: 5px;
  margin-top: 5px;
}

.tp-textarea {
  resize: none;
}

.tp-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.form-control:focus {
  border-color: transparent;
  box-shadow: none;
}
