<div class="tp-container">
  <mat-card *ngIf="chatCreate" class="text-muted text-center mt-4">
    Write a message to start conversation!
  </mat-card>
  <h3 class="text-muted text-center mt-2">
    {{ chat.receiverId === userId ? chat.senderName : chat.receiverName }}
  </h3>
  <div
    #messages
    class="tp-messages"
    infiniteScroll
    [scrollWindow]="false"
    (scrolledUp)="loadMessages(currentPageNumber + 1)"
  >
    <app-chat-message
      class="tp-message"
      [ngClass]="{ sender: message.senderId === userId }"
      *ngFor="let message of currentMessages.reverse()"
      [message]="message"
      [isSender]="message.senderId === userId"
    ></app-chat-message>
  </div>
  <div class="row tp-textarea-row">
    <div class="col">
      <textarea
        class="form-control tp-textarea"
        [rows]="2"
        (keydown.enter)="sendMessage(); (false)"
        [(ngModel)]="newMessage"
      ></textarea>
    </div>
  </div>
</div>
