<div class="row">
  <div class="col-3 tp-div">
    <img
      class="tp-image"
      src="{{
        club.picture != null && club.picture != undefined
          ? club.picture.data
          : 'https://i.ibb.co/d0Zg3qs/newgym.png'
      }}"
      alt="Profile Picture"
    />
  </div>
  <div class="col-6 tp-padd">
    <div class="mb-3">
      <h5 class="text-muted mt-1 tp-inline">
        {{ club.name }}
      </h5>
      <div class="heart-icon" *ngIf="isUserAuthenticated && !isUser">
        <button
          *ngIf="club.isFavourite; else notFavourite"
          class="tp-fav tp-icon fas fa-heart fa-2x"
          (click)="doFavourite()"
        ></button>
        <ng-template #notFavourite
          ><button
            class="tp-not-fav tp-icon fas fa-heart fa-2x"
            (click)="doFavourite()"
          ></button
        ></ng-template>
      </div>
    </div>
    <p class="text-muted mb-2">
      <span><i class="fa fa-envelope" aria-hidden="true"></i></span>
      {{ club.email }}
    </p>
    <p class="text-muted mb-2" *ngIf="club.phoneNumber != null">
      <span><i class="fa fa-phone" aria-hidden="true"></i></span>
      {{ club.phoneNumber }}
    </p>

    <p class="text-muted mb-2">
      <span><i class="fa fa-home" aria-hidden="true"></i></span>
      {{ club.city }}
    </p>
  </div>
  <div class="col-3 pl-0">
    <button
      mat-raised-button
      color="primary"
      class="btn-block btn-no-shadow float-right w-75"
      (click)="viewDetails()"
    >
      View details
    </button>
    <button
      *ngIf="isProfile"
      mat-raised-button
      color="primary"
      class="btn-block btn-no-shadow float-right w-75"
      (click)="editClub()"
    >
      Edit
    </button>
    <button
      *ngIf="isProfile"
      mat-raised-button
      color="primary"
      class="btn-block btn-no-shadow float-right w-75"
      (click)="viewSales()"
    >
      View sales
    </button>
  </div>
</div>
