.slider-container {
  display: flex;
  flex-direction: column;
  width: 400px;
}
.slides {
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
  width: 252px;
}

.slides::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
.controls {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.mar-l {
  margin-left: 3px;
}

.mar-r {
  margin-right: 3px;
}
