<div class="slider-container mx-auto mt-4">
  <div class="slides mx-auto" #slides>
    <ng-content select="[appSliderItem]" #sliderItem> </ng-content>
  </div>
  <div class="controls">
    <button
      mat-raised-button
      color="primary"
      class="mar-r btn-no-shadow"
      (click)="onClickLeft()"
      [disabled]="slidesIndex === 0 || items.length === 1"
    >
      <
    </button>
    <button
      mat-raised-button
      color="primary"
      class="mar-l btn-no-shadow"
      (click)="onClickRight()"
      [disabled]="
        slidesIndex === items.length - 1 ||
        items.length === 1 ||
        dataTransferService.getIsDeleteActivity() ||
        dataTransferService.getIsDeleteTrainer()
      "
    >
      >
    </button>
  </div>
</div>
