<div class="full-width" *ngIf="isLoaded && isLocationsLoaded">
  <div class="col-lg-3"></div>
  <div
    class="col-lg-6 mx-auto tp-main-col pb-4"
    infinite-scroll
    (scrolled)="onScrollDown()"
  >
    <app-club-filters
      [filterData]="filterData"
      [locations]="locations"
      (getClubs)="getClubs($event, true)"
    ></app-club-filters>
    <div
      class="row text-muted justify-content-center align-items-center mt-4"
      *ngIf="clubs.length == 0 && isFavourite"
    >
      You don't have any favourite clubs.
    </div>
    <div class="tp-right mt-4" *ngIf="isProfile">
      <button
        mat-raised-button
        color="primary"
        class="btn-block btn-no-shadow w-25"
        [routerLink]="['/profile/clubs/add']"
        [routerLinkActive]="['active']"
      >
        Add Club
      </button>
    </div>
    <mat-card class="mt-4" *ngFor="let club of clubs">
      <app-club-list-item
        [club]="club"
        [isUser]="isUser"
        (favouriteChange)="doFavourite($event)"
      ></app-club-list-item>
    </mat-card>
  </div>
  <div class="col-lg-3"></div>
</div>
