<div class="row full-width">
  <div class="col-lg-6 mx-auto">
    <mat-card class="my-4">
      <form
        class="text-center p-5"
        [formGroup]="registerForm.registerForm"
        (ngSubmit)="register()"
      >
        <app-custom-control-group
          *ngFor="let controlGroup of formControls.controlGroups"
          [customControlGroup]="controlGroup"
        ></app-custom-control-group>

        <button
          mat-raised-button
          color="primary"
          class="btn-block mt-4 mb-0 btn-no-shadow"
          type="submit"
          [disabled]="!registerForm.registerForm.valid"
        >
          Register
        </button>
      </form>
    </mat-card>
  </div>
</div>
