<input
  type="file"
  class="float-right"
  id="files"
  accept="image/*"
  multiple
  (change)="changePictureListener($event)"
  [disabled]="pictures.length >= 4 || isDisabled"
/>

<label for="files" class="my-btn" *ngIf="!isDisabled">Add Photos</label>
<label for="files" class="my-btn-disabled" *ngIf="isDisabled">Add Photos</label>

<div
  cdkDropList
  cdkDropListOrientation="horizontal"
  class="example-list"
  (cdkDropListDropped)="drop($event)"
>
  <div
    class="example-box"
    *ngFor="let picture of pictures; let i = index"
    cdkDragLockAxis="x"
    cdkDrag
    [cdkDragDisabled]="isDisabled"
  >
    <button
      type="button"
      class="close my-button"
      aria-label="Close"
      [disabled]="isDisabled"
      (click)="pictures.splice(i, 1)"
    >
      <span aria-hidden="true">&times;</span>
    </button>
    <img class="my-image" src="{{ picture.data }}" alt="" />
  </div>
</div>
