<div class="p-5" *ngIf="isLoaded">
  <div class="row text-center">
    <div class="col-md-4">
      <div class="btn-group w-75">
        <button
          mat-flat-button
          color="primary"
          class="btn-block btn-no-shadow tp-border-right"
          mwlCalendarPreviousView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
        >
          Previous
        </button>
        <button
          mat-stroked-button
          color="primary"
          class="btn-block btn-no-shadow mt-0 tp-border-right tp-border-left"
          mwlCalendarToday
          [(viewDate)]="viewDate"
        >
          Today
        </button>
        <button
          mat-flat-button
          color="primary"
          class="btn-block btn-no-shadow mt-0 tp-border-left"
          mwlCalendarNextView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
        >
          Next
        </button>
      </div>
    </div>
    <div class="col-md-4">
      <h3 class="text-muted">
        {{ viewDate | calendarDate: view + 'ViewTitle':'en':weekStartsOn }}
      </h3>
    </div>
    <div class="col-md-4">
      <div class="btn-group w-75">
        <button
          mat-flat-button
          color="primary"
          class="btn-block btn-no-shadow tp-border-right tp-btn"
          (click)="setView(CalendarView.Month)"
          [class.active]="view === CalendarView.Month"
        >
          Month
        </button>
        <button
          mat-flat-button
          color="primary"
          class="btn-block btn-no-shadow mt-0 tp-border-right tp-border-left tp-btn"
          (click)="setView(CalendarView.Week)"
          [class.active]="view === CalendarView.Week"
        >
          Week
        </button>
        <button
          mat-flat-button
          color="primary"
          class="btn-block btn-no-shadow mt-0 tp-border-left tp-btn"
          (click)="setView(CalendarView.Day)"
          [class.active]="view === CalendarView.Day"
        >
          Day
        </button>
      </div>
    </div>
  </div>
  <br />
  <div [ngSwitch]="view">
    <mwl-calendar-month-view
      *ngSwitchCase="CalendarView.Month"
      [viewDate]="viewDate"
      [events]="events"
      [weekStartsOn]="weekStartsOn"
      [refresh]="refresh"
      [activeDayIsOpen]="activeDayIsOpen"
      (dayClicked)="dayClicked($event.day)"
      (eventClicked)="handleEvent('Clicked', $event.event)"
    >
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
      *ngSwitchCase="CalendarView.Week"
      [viewDate]="viewDate"
      [events]="events"
      [weekStartsOn]="weekStartsOn"
      [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)"
    >
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
      *ngSwitchCase="CalendarView.Day"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)"
    >
    </mwl-calendar-day-view>
  </div>

  <div class="text-center">
    <button
      *ngIf="isEditable"
      mat-raised-button
      color="primary"
      class="btn-block btn-no-shadow w-25 mt-4 tp-inline tp-margin-r"
      (click)="goToAdd()"
    >
      Add training
    </button>
    <button
      *ngIf="isEditable"
      mat-raised-button
      color="primary"
      class="btn-block btn-no-shadow w-25 mt-4 tp-inline tp-margin-l"
      (click)="goToAddRecurrent()"
    >
      Add recurrent training
    </button>
  </div>
</div>
