<div *ngIf="isLoaded">
  <h2 mat-dialog-title class="text-muted mb-3" *ngIf="trainerCard">
    {{ trainerCard.name }}
  </h2>
  <h2 mat-dialog-title class="text-muted mb-3" *ngIf="clubCard">
    {{ clubCard.name }}
  </h2>
  <mat-dialog-content class="error text-muted" *ngIf="trainerCard">
    <p class="text-muted font-weight-bold tp-inline">Trainer:</p>
    <p class="text-muted tp-inline">{{ ' ' + trainerCard.trainerName }}</p>
    <br />
    <p class="text-muted font-weight-bold tp-inline">Owner:</p>
    <p class="text-muted tp-inline">{{ ' ' + trainerCard.userName }}</p>
    <br />
    <p class="text-muted font-weight-bold tp-inline">Price:</p>
    <p class="text-muted tp-inline">{{ ' ' + trainerCard.price + ' zł' }}</p>
    <br />
    <p class="text-muted font-weight-bold tp-inline">Entries left:</p>
    <p class="text-muted tp-inline">
      {{
        ' ' +
          (!trainerCard.unlimitedEntries
            ? trainerCard.entriesLeft
            : 'unlimited')
      }}
    </p>
    <br />
    <p class="text-muted font-weight-bold tp-inline">Purchase date:</p>
    <p class="text-muted tp-inline">
      {{ ' ' + purchaseDate }}
    </p>
    <br />
    <p class="text-muted font-weight-bold tp-inline">Expiration date:</p>
    <p class="text-muted tp-inline">
      {{ ' ' + (expirationDate ? expirationDate : 'unlimited') }}
    </p>
  </mat-dialog-content>
  <mat-dialog-content class="error text-muted" *ngIf="clubCard">
    <p class="text-muted font-weight-bold tp-inline">Club:</p>
    <p class="text-muted tp-inline">{{ ' ' + clubCard.clubName }}</p>
    <br />
    <p class="text-muted font-weight-bold tp-inline">Owner:</p>
    <p class="text-muted tp-inline">{{ ' ' + clubCard.userName }}</p>
    <br />
    <p class="text-muted font-weight-bold tp-inline">Price:</p>
    <p class="text-muted tp-inline">{{ ' ' + clubCard.price + ' zł' }}</p>
    <br />
    <p class="text-muted font-weight-bold tp-inline">Entries left:</p>
    <p class="text-muted tp-inline">
      {{
        ' ' + (!clubCard.unlimitedEntries ? clubCard.entriesLeft : 'unlimited')
      }}
    </p>
    <br />
    <p class="text-muted font-weight-bold tp-inline">Purchase date:</p>
    <p class="text-muted tp-inline">
      {{ ' ' + purchaseDate }}
    </p>
    <br />
    <p class="text-muted font-weight-bold tp-inline">Expiration date:</p>
    <p class="text-muted tp-inline">
      {{ ' ' + (expirationDate ? expirationDate : 'unlimited') }}
    </p>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button
      mat-raised-button
      color="primary"
      class="btn-no-shadow btn-grey"
      (click)="closeDialog()"
    >
      Close
    </button>
  </mat-dialog-actions>
</div>
