<div class="row full-width">
  <div class="col-lg-3 mx-auto">
    <mat-card class="my-4">
      <h4 class="text-muted text-center">
        Change password
      </h4>
      <form [formGroup]="passwordForm.passwordForm">
        <app-custom-control-group
          *ngFor="let controlGroup of formControls.controlGroups"
          [customControlGroup]="controlGroup"
        ></app-custom-control-group>
        <button
          mat-raised-button
          color="primary"
          class="btn-no-shadow w-100"
          (click)="changePassword()"
          [disabled]="!passwordForm.passwordForm.valid"
        >
          Change
        </button>
      </form>
    </mat-card>
  </div>
</div>
