<div class="row">
  <div class="col-2 tp-vcenter text-muted">
    {{ date }}
  </div>
  <div class="col-1 tp-vcenter text-muted">
    {{ measurement.weight }}
  </div>
  <div class="col-1 tp-vcenter text-muted">
    {{ measurement.fat }}
  </div>
  <div class="col-2 tp-vcenter text-muted">
    {{ measurement.bmi }}
  </div>
  <div class="col-3 tp-vcenter">
    <button
      mat-raised-button
      color="primary"
      class="btn-block btn-no-shadow"
      (click)="viewDetails()"
    >
      View details
    </button>
  </div>
  <div class="col-3 tp-vcenter">
    <button
      mat-raised-button
      color="primary"
      class="btn-block btn-no-shadow tp-width tp-margin-right"
      (click)="editMeasurement()"
    >
      <i class="fas fa-pencil-alt"></i>
    </button>
    <button
      mat-raised-button
      color="primary"
      class="btn-block btn-no-shadow tp-width tp-margin-both"
      (click)="deleteMeasurement()"
    >
      <i class="fas fa-trash-alt"></i>
    </button>
  </div>
</div>
