<div class="full-width" *ngIf="isLoaded">
  <div class="col-lg-3"></div>
  <div class="col-lg-6 mx-auto pb-4">
    <mat-card class="mt-4">
      <div class="row">
        <div class="col-3">
          <img
            class="tp-image"
            src="{{
              club.pictures.length !== 0
                ? club.pictures[0].data
                : 'https://i.ibb.co/d0Zg3qs/newgym.png'
            }}"
            alt="Profile Picture"
          />
        </div>
        <div class="col-9 tp-padd">
          <div class="mb-0">
            <h5 class="text-muted mt-1 tp-inline tp-ml-0">
              {{ club.name }}
            </h5>
            <button
              mat-raised-button
              color="primary"
              class="btn-block btn-no-shadow float-right w-25 tp-inline"
              (click)="goToReviews()"
            >
              Reviews
            </button>
          </div>
          <ng-template #t let-fill="fill">
            <span class="star" [class.full]="fill === 100">
              <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
            </span>
          </ng-template>

          <ngb-rating
            [(rate)]="club.average"
            [starTemplate]="t"
            [readonly]="true"
            max="5"
          ></ngb-rating>
          <p class="text-muted mb-2 ml-1">
            <span><i class="fa fa-home" aria-hidden="true"></i></span>
            {{ club.streetName + ' ' + club.streetNumber }}
          </p>
          <p class="text-muted mb-2 tp-margin">
            {{ club.postalCode + ' ' + club.city }}
          </p>
          <p class="text-muted mb-2 tp-ml">
            <span><i class="fa fa-envelope tp-mp" aria-hidden="true"></i></span>
            {{ club.email }}
          </p>
          <p class="text-muted mb-2 tp-ml" *ngIf="club.phoneNumber != null">
            <span><i class="fa fa-phone tp-mp" aria-hidden="true"></i></span>
            {{ club.phoneNumber }}
          </p>
        </div>
      </div>

      <p class="text-muted my-4 text-justify">
        {{ club.description }}
      </p>

      <mat-expansion-panel class="mt-4">
        <mat-expansion-panel-header>
          <mat-panel-title class="text-muted">
            Price List
          </mat-panel-title>
        </mat-expansion-panel-header>

        <table
          mat-table
          [dataSource]="club.priceList"
          class="mat-elevation-z8 w-100"
        >
          <ng-container matColumnDef="name">
            <th mat-header-cell class="tp-center-align" *matHeaderCellDef>
              Name
            </th>
            <td
              mat-cell
              class="text-muted tp-center-align"
              *matCellDef="let element"
            >
              {{ element.name }}
            </td>
          </ng-container>

          <ng-container matColumnDef="validityPeriod">
            <th mat-header-cell class="tp-center-align" *matHeaderCellDef>
              Validity Period
            </th>
            <td
              mat-cell
              class="text-muted tp-center-align"
              *matCellDef="let element"
            >
              {{ element.validityPeriod }}
            </td>
          </ng-container>

          <ng-container matColumnDef="entries">
            <th mat-header-cell class="tp-center-align" *matHeaderCellDef>
              Entries
            </th>
            <td
              mat-cell
              class="text-muted tp-center-align"
              *matCellDef="let element"
            >
              {{ element.entries }}
            </td>
          </ng-container>

          <ng-container matColumnDef="price">
            <th mat-header-cell class="tp-center-align" *matHeaderCellDef>
              Price
            </th>
            <td
              mat-cell
              class="text-muted tp-center-align"
              *matCellDef="let element"
            >
              {{ element.price + ' zł' }}
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumnsPricelist"></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: displayedColumnsPricelist"
          ></tr>
        </table>
      </mat-expansion-panel>

      <mat-expansion-panel class="mt-4">
        <mat-expansion-panel-header>
          <mat-panel-title class="text-muted">
            Working Hours
          </mat-panel-title>
        </mat-expansion-panel-header>

        <table
          mat-table
          [dataSource]="club.workingHours"
          class="mat-elevation-z8 w-100 mb-4"
        >
          <ng-container matColumnDef="day">
            <th mat-header-cell class="tp-center-align" *matHeaderCellDef>
              Day
            </th>
            <td
              mat-cell
              class="text-muted tp-center-align"
              *matCellDef="let element"
            >
              {{ element.day }}
            </td>
          </ng-container>

          <ng-container matColumnDef="openHour">
            <th mat-header-cell class="tp-center-align" *matHeaderCellDef>
              Open Hour
            </th>
            <td
              mat-cell
              class="text-muted tp-center-align"
              *matCellDef="let element"
            >
              {{ element.openHour }}
            </td>
          </ng-container>

          <ng-container matColumnDef="closeHour">
            <th mat-header-cell class="tp-center-align" *matHeaderCellDef>
              Close Hour
            </th>
            <td
              mat-cell
              class="text-muted tp-center-align"
              *matCellDef="let element"
            >
              {{ element.closeHour }}
            </td>
          </ng-container>

          <tr
            mat-header-row
            *matHeaderRowDef="displayedColumnsWorkingHours"
          ></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: displayedColumnsWorkingHours"
          ></tr>
        </table>
      </mat-expansion-panel>
      <mat-expansion-panel class="mt-4">
        <mat-expansion-panel-header>
          <mat-panel-title class="text-muted">
            Trainers
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-slider *ngIf="club.trainers.length !== 0">
          <div appSliderItem *ngFor="let trainer of club.trainers">
            <mat-card class="example-card">
              <img
                class="tp-image-trainer"
                mat-card-image
                src="{{ trainer.picture }}"
                alt="Trainer picture"
              />
              <mat-card-header class="tp-display">
                <mat-card-title class="text-muted text-center">{{
                  trainer.name
                }}</mat-card-title>
                <mat-card-subtitle class="text-center mb-0">{{
                  trainer.description
                }}</mat-card-subtitle>
              </mat-card-header>
            </mat-card>
          </div>
        </app-slider>
      </mat-expansion-panel>
      <mat-expansion-panel class="mt-4">
        <mat-expansion-panel-header>
          <mat-panel-title class="text-muted">
            Activities
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-slider *ngIf="club.activities.length !== 0">
          <div appSliderItem *ngFor="let activity of club.activities">
            <mat-card class="example-card">
              <img
                class="tp-image-trainer"
                mat-card-image
                src="{{ activity.picture }}"
                alt="Activity picture"
              />
              <mat-card-header class="tp-display">
                <mat-card-title class="text-muted text-center">{{
                  activity.name
                }}</mat-card-title>
                <mat-card-subtitle class="text-center"
                  >Duration: {{ activity.duration }} min</mat-card-subtitle
                >
                <mat-card-subtitle class="text-center"
                  >Calories: {{ activity.calories }}</mat-card-subtitle
                >
                <mat-card-subtitle class="text-center mb-0"
                  >Difficulty level: {{ activity.level }}</mat-card-subtitle
                >
              </mat-card-header>
            </mat-card>
          </div>
        </app-slider>
      </mat-expansion-panel>
      <mat-expansion-panel class="mt-4">
        <mat-expansion-panel-header>
          <mat-panel-title class="text-muted">
            Photo Gallery
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ngb-carousel class="tp-carousel">
          <ng-template ngbSlide *ngFor="let picture of pictures">
            <div class="picsum-img-wrapper text-center mx-auto">
              <img
                [src]="picture.data"
                class="tp-image-carousel img-fluid mb-4"
              />
            </div>
          </ng-template>
        </ngb-carousel>
      </mat-expansion-panel>
      <div class="row">
        <div class="col d-flex justify-content-center text-muted mt-4">
          Views: {{ club.viewCounter }}
        </div>
      </div>
    </mat-card>
  </div>
  <div class="col-lg-3"></div>
</div>
