.tp-image {
  width: 202px;
}

.tp-center-align {
  text-align: center;
}

.tp-padd {
  padding-left: 73px;
}

.tp-image-trainer {
  height: 250px;
}
.example-card {
  max-width: 250px;
  margin-bottom: 2px;
  margin-left: 1px;
  margin-right: 1px;
}
[appSliderItem] {
  flex-shrink: 0;
}

.tp-carousel {
  outline: none !important;
  box-shadow: none;
}

.tp-image-carousel {
  max-height: 300px;
}
