<div class="full-width" *ngIf="isLoaded && isLocationsLoaded && isSportsLoaded">
  <div class="col-lg-3"></div>
  <div
    class="col-lg-6 mx-auto pb-4"
    infinite-scroll
    (scrolled)="onScrollDown()"
  >
    <app-trainer-filters
      [filterData]="filterData"
      [locations]="locations"
      [sports]="sports"
      (getTrainers)="getTrainers($event, true)"
    ></app-trainer-filters>
    <div
      class="row text-muted justify-content-center align-items-center mt-4"
      *ngIf="trainers.length == 0 && isFavourite"
    >
      You don't have any favourite trainers.
    </div>
    <mat-card class="mt-4" *ngFor="let trainer of trainers">
      <app-trainer-list-item
        [trainer]="trainer"
        (favouriteChange)="doFavourite($event)"
      ></app-trainer-list-item>
    </mat-card>
  </div>
  <div class="col-lg-3"></div>
</div>
