head,
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.btn-no-shadow {
  outline: none !important;
  box-shadow: none;
}

.full-width {
  width: 100%;
}

html,
body {
  height: 100%;
  min-height: 100%;
}

html {
  overflow-y: scroll;
}

.background-filler {
  min-height: 100%;
}
