.tp-center-align {
  text-align: center;
}

::ng-deep .mat-chip-list-wrapper {
  display: block !important;
  outline: none !important;
  box-shadow: none !important;
}

::ng-deep .mat-chip-list-wrapper:focus {
  outline: none !important;
  box-shadow: none !important;
}

.tp-label {
  cursor: pointer;
}

::ng-deep .mat-chip-disabled {
  cursor: default !important;
}

::ng-deep .timepicker-dial__control:focus {
  outline: none !important;
  box-shadow: none;
}

.tp-input {
  cursor: pointer;
}

.tp-input:disabled {
  cursor: auto;
}
