<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-100 my-4">
  <ng-container matColumnDef="day">
    <th mat-header-cell class="tp-center-align" *matHeaderCellDef>
      Day
    </th>
    <td mat-cell class="text-muted" *matCellDef="let element">
      {{ element.day }}
    </td>
  </ng-container>

  <ng-container matColumnDef="openHour">
    <th mat-header-cell class="tp-center-align" *matHeaderCellDef>
      Open Hour
    </th>
    <td mat-cell class="text-muted" *matCellDef="let element">
      <input
        matInput
        placeholder="-"
        [(ngModel)]="element.openHour"
        [ngxTimepicker]="openHour"
        readonly
      />
      <ngx-material-timepicker
        #openHour
        [theme]="theme"
      ></ngx-material-timepicker>
    </td>
  </ng-container>

  <ng-container matColumnDef="closeHour">
    <th mat-header-cell class="tp-center-align" *matHeaderCellDef>
      Close Hour
    </th>
    <td mat-cell class="text-muted" *matCellDef="let element">
      <input
        matInput
        placeholder="-"
        [(ngModel)]="element.closeHour"
        [ngxTimepicker]="closeHour"
        readonly
      />
      <ngx-material-timepicker
        #closeHour
        [theme]="theme"
      ></ngx-material-timepicker>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
