<div class="row full-width" *ngIf="isLoaded">
  <div class="col-lg-7 mx-auto">
    <mat-card class="my-4">
      <h4 class="text-muted text-center mb-4">
        Notifications
      </h4>
      <div class="row">
        <div class="col">
          <mat-checkbox
            class="text-muted mt-4"
            color="primary"
            [(ngModel)]="notification.cardAlmostExpired"
            >Notification about your almost expired card</mat-checkbox
          >
          <mat-checkbox
            class="text-muted mt-4"
            color="primary"
            [(ngModel)]="notification.cardExpired"
            >Notification about card expiration</mat-checkbox
          >
          <mat-checkbox
            class="text-muted"
            color="primary"
            [(ngModel)]="notification.incomingTraining"
            >Notification about incoming training</mat-checkbox
          >
          <mat-checkbox
            class="text-muted"
            color="primary"
            [(ngModel)]="notification.signUpConfirmed"
            >Training sign up confirmation</mat-checkbox
          >
          <mat-checkbox
            class="text-muted"
            color="primary"
            [(ngModel)]="notification.signOutConfirmed"
            >Training sign out confirmation</mat-checkbox
          >
        </div>
        <div class="col">
          <mat-checkbox
            class="text-muted"
            color="primary"
            [(ngModel)]="notification.trainingDeleted"
            >Notification about deleted training</mat-checkbox
          >
          <mat-checkbox
            class="text-muted"
            color="primary"
            [(ngModel)]="notification.reserveListToList"
            >Notification about transition from reserve list</mat-checkbox
          >
          <mat-checkbox
            class="text-muted"
            color="primary"
            [(ngModel)]="notification.listToReserveList"
            >Notification about transition to reserve list</mat-checkbox
          >
          <mat-checkbox
            class="text-muted"
            color="primary"
            [(ngModel)]="notification.reserveListSignUpConfirmed"
            >Reserve list sign up confirmation</mat-checkbox
          >
          <mat-checkbox
            class="text-muted"
            color="primary"
            [(ngModel)]="notification.reserveListSignOutConfirmed"
            >Reserve list sign out confirmation</mat-checkbox
          >
        </div>
      </div>

      <button
        mat-raised-button
        color="primary"
        class="btn-block btn-no-shadow mt-4"
        (click)="editNotification()"
      >
        Save changes
      </button>
    </mat-card>
  </div>
</div>
