.tp-image {
  width: 202px;
}

.tp-center-align {
  text-align: center;
}

.tp-padd {
  padding-left: 66px;
}

.tp-inline {
  display: inline;
}

.tp-margin {
  margin-left: 27px;
}

.tp-ml {
  margin-left: 5px;
}

.tp-ml-0 {
  margin-left: 3px;
}

.tp-mp {
  margin-right: 3px;
}

.tp-mp-2 {
  margin-right: 2px;
}

.star {
  position: relative;
  display: inline-block;
  font-size: 2rem;
  color: #d8dcf0;
}
.full {
  color: #ffc600;
}
.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: #ffc600;
}

.tp-div {
  align-self: center;
}
