<div class="full-width" *ngIf="isLoaded">
  <div class="col-lg-3"></div>
  <div class="col-lg-6 mx-auto tp-main-col pb-4">
    <mat-card class="mt-4">
      <div class="row">
        <div class="col-3 tp-div justify-content-center">
          <img
            class="tp-image"
            src="{{
              trainer.user.profilePicture != null
                ? trainer.user.profilePicture
                : 'https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png'
            }}"
            alt="Profile Picture"
          />
        </div>
        <div class="col-9 tp-padd">
          <div class="mb-0">
            <h5 class="text-muted mt-1 tp-inline tp-ml-0">
              {{ trainer.user.firstName + ' ' + trainer.user.lastName }}
            </h5>
            <button
              mat-raised-button
              color="primary"
              class="btn-block btn-no-shadow float-right w-25 tp-inline"
              (click)="goToReviews()"
            >
              Reviews
            </button>
          </div>
          <ng-template #t let-fill="fill">
            <span class="star" [class.full]="fill === 100">
              <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
            </span>
          </ng-template>

          <ngb-rating
            [(rate)]="trainer.average"
            [starTemplate]="t"
            [readonly]="true"
            max="5"
          ></ngb-rating>
          <p class="text-muted mb-2 tp-ml" *ngIf="trainer.user.email != null">
            <span><i class="fa fa-envelope tp-mp" aria-hidden="true"></i></span>
            {{ trainer.user.email }}
          </p>
          <p class="text-muted mb-2 tp-ml" *ngIf="trainer.phoneNumber != null">
            <span><i class="fa fa-phone tp-mp" aria-hidden="true"></i></span>
            {{ trainer.phoneNumber }}
          </p>

          <p class="text-muted mb-2 ml-1" *ngIf="trainer.user.city != null">
            <span><i class="fa fa-home tp-mp" aria-hidden="true"></i></span>
            {{ trainer.user.city }}
          </p>
          <p class="text-muted mb-0 ml-1">
            <span><i class="fas fa-dumbbell tp-mp-2"></i></span>
            {{ sports }}
          </p>
        </div>
      </div>

      <p class="text-muted my-4 text-justify">
        {{ trainer.description }}
      </p>

      <mat-expansion-panel class="mt-4">
        <mat-expansion-panel-header>
          <mat-panel-title class="text-muted">
            Price List
          </mat-panel-title>
        </mat-expansion-panel-header>

        <table
          mat-table
          [dataSource]="trainer.priceList"
          class="mat-elevation-z8 w-100"
        >
          <ng-container matColumnDef="name">
            <th mat-header-cell class="tp-center-align" *matHeaderCellDef>
              Name
            </th>
            <td
              mat-cell
              class="text-muted tp-center-align"
              *matCellDef="let element"
            >
              {{ element.name }}
            </td>
          </ng-container>

          <ng-container matColumnDef="validityPeriod">
            <th mat-header-cell class="tp-center-align" *matHeaderCellDef>
              Validity Period
            </th>
            <td
              mat-cell
              class="text-muted tp-center-align"
              *matCellDef="let element"
            >
              {{
                !element.unlimitedValidityPeriod
                  ? element.validityPeriod + ' days'
                  : '-'
              }}
            </td>
          </ng-container>

          <ng-container matColumnDef="entries">
            <th mat-header-cell class="tp-center-align" *matHeaderCellDef>
              Entries
            </th>
            <td
              mat-cell
              class="text-muted tp-center-align"
              *matCellDef="let element"
            >
              {{ !element.unlimitedEntries ? element.entries : '-' }}
            </td>
          </ng-container>

          <ng-container matColumnDef="price">
            <th mat-header-cell class="tp-center-align" *matHeaderCellDef>
              Price
            </th>
            <td
              mat-cell
              class="text-muted tp-center-align"
              *matCellDef="let element"
            >
              {{ element.price + ' zł' }}
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </mat-expansion-panel>
      <div class="row">
        <div class="col d-flex justify-content-center text-muted mt-4">
          Views: {{ trainer.viewCounter }}
        </div>
      </div>
    </mat-card>
  </div>
  <div class="col-lg-3"></div>
</div>
