.tp-image {
  width: 132px;
}

.tp-inline {
  display: inline;
}

.tp-padd {
  padding-left: 32px;
}

.tp-div {
  align-self: center;
}

.tp-ml {
  margin-left: 2px;
}

.tp-mp {
  margin-right: 2px;
}

.tp-mp-x {
  margin-right: 4px;
}

.tp-mp-3 {
  margin-right: 3px;
}
