.tp-message {
  background-color: #fff;
  max-width: 100%;
}

.tp-sender-message {
  background-color: #a0a9de;
  color: #fff;
}

.tp-content {
  white-space: pre-wrap;
  overflow-wrap: break-word;
  font-size: small;
  max-width: 100%;
  width: 100%;
}

.tp-textarea {
  color: white !important;
}

.tp-msg {
  padding: 8px 10px !important;
  font-size: 16px;
}
.tp-date {
  padding-left: 10px !important;
  padding-right: 10px !important;
}
