<h1 mat-dialog-title class="text-muted">
  {{ action + ' Gym Card' }}
</h1>
<div mat-dialog-content>
  <div *ngIf="action != 'Delete'; else elseTemplate">
    <mat-form-field class="tp-width">
      <input placeholder="Name" matInput [(ngModel)]="localData.name" />
    </mat-form-field>
    <mat-form-field class="tp-width">
      <input
        placeholder="Validity period"
        matInput
        [(ngModel)]="localData.validityPeriod"
      />
    </mat-form-field>
    <mat-form-field class="tp-width">
      <input placeholder="Entries" matInput [(ngModel)]="localData.entries" />
    </mat-form-field>
    <mat-form-field class="tp-width">
      <input
        placeholder="Price"
        type="number"
        step="0.01"
        matInput
        [(ngModel)]="localData.price"
      />
      <span matSuffix class="text-muted">zł</span>
    </mat-form-field>
  </div>
  <ng-template #elseTemplate>
    <div class="text-muted tp-padd">
      Are you sure to delete <b>{{ localData.name }}</b
      >?
    </div>
  </ng-template>
</div>
<div mat-dialog-actions class="float-right">
  <button
    mat-raised-button
    color="primary"
    class="btn-no-shadow"
    (click)="doAction()"
  >
    {{ action }}
  </button>
  <button
    mat-raised-button
    (click)="closeDialog()"
    color="warn"
    class="btn-no-shadow"
  >
    Cancel
  </button>
</div>
