<h1 mat-dialog-title class="text-muted">
  {{ action + ' Gym Card' }}
</h1>
<div mat-dialog-content>
  <div *ngIf="action != 'Delete'; else elseTemplate">
    <mat-form-field class="tp-width">
      <input
        placeholder="Name"
        matInput
        [(ngModel)]="localData.name"
        required
        maxlength="20"
      />
    </mat-form-field>
    <mat-form-field class="tp-width">
      <input
        placeholder="Validity period"
        matInput
        required
        maxlength="10"
        [(ngModel)]="localData.validityPeriod"
      />
    </mat-form-field>
    <mat-form-field class="tp-width">
      <input
        placeholder="Entries"
        matInput
        [(ngModel)]="localData.entries"
        required
        maxlength="20"
      />
    </mat-form-field>
    <mat-form-field class="tp-width">
      <input
        placeholder="Price"
        type="number"
        step="0.01"
        required
        max="10000.00"
        min="0"
        matInput
        [(ngModel)]="localData.price"
      />
      <span matSuffix class="text-muted">zł</span>
    </mat-form-field>
  </div>
  <ng-template #elseTemplate>
    <div class="text-muted tp-padd">
      Are you sure to delete <b>{{ localData.name }}</b
      >?
    </div>
  </ng-template>
</div>
<div mat-dialog-actions class="float-right">
  <button
    mat-raised-button
    color="primary"
    class="btn-no-shadow"
    (click)="doAction()"
    [disabled]="
      !localData.name ||
      !localData.validityPeriod ||
      !localData.entries ||
      !localData.price ||
      localData.price > 10000 ||
      localData.price < 0
    "
  >
    {{ action }}
  </button>
  <button
    mat-raised-button
    (click)="closeDialog()"
    class="btn-no-shadow btn-grey"
  >
    Cancel
  </button>
</div>
