<div class="full-width" *ngIf="isLoaded">
  <div class="col-lg"></div>
  <div
    class="col-lg-9 mx-auto pb-4"
    infinite-scroll
    (scrolled)="onScrollDown()"
  >
    <app-card-filters
      [filterData]="filterData"
      [cardNames]="cardNames"
      [isUser]="this.isUser && !this.isTrainer"
      (getCards)="getCards($event, true)"
    ></app-card-filters>
    <div
      class="row text-muted justify-content-center align-items-center mt-4"
      *ngIf="cards.length == 0 && isTrainer && !isUser && filterData == {}"
    >
      You haven't sold any cards yet.
    </div>
    <div
      class="row text-muted justify-content-center align-items-center mt-4"
      *ngIf="cards.length == 0 && isTrainer && isUser && filterData == {}"
    >
      This user hasn't bought any of your cards yet.
    </div>
    <div
      class="row text-muted justify-content-center align-items-center mt-4"
      *ngIf="cards.length == 0 && !isTrainer && isUser && filterData == {}"
    >
      You haven't bought any cards yet.
    </div>
    <div
      class="tp-right mt-4"
      *ngIf="isTrainer && !isUser && cards.length != 0"
    >
      <button
        mat-raised-button
        color="primary"
        class="btn-block btn-no-shadow w-25"
        (click)="goToUserList()"
      >
        Add Card
      </button>
    </div>
    <div
      class="tp-center mt-4"
      *ngIf="isTrainer && !isUser && cards.length == 0 && filterData == {}"
    >
      <button
        mat-raised-button
        color="primary"
        class="btn-block btn-no-shadow w-25"
        (click)="goToUserList()"
      >
        Add Card
      </button>
    </div>
    <div class="tp-right mt-4" *ngIf="isTrainer && isUser && cards.length != 0">
      <button
        mat-raised-button
        color="primary"
        class="btn-block btn-no-shadow w-25"
        (click)="addCard()"
      >
        Add Card
      </button>
    </div>
    <div
      class="tp-center mt-4"
      *ngIf="isTrainer && isUser && cards.length == 0"
    >
      <button
        mat-raised-button
        color="primary"
        class="btn-block btn-no-shadow w-25"
        (click)="addCard()"
      >
        Add Card
      </button>
    </div>
    <mat-card class="mt-4" *ngIf="cards.length != 0">
      <div class="row">
        <div class="col text-muted tp-vcenter" *ngIf="isTrainer && !isUser">
          User
        </div>
        <div class="col text-muted tp-vcenter" *ngIf="!isTrainer && isUser">
          Trainer
        </div>
        <div class="col text-muted tp-vcenter">Card</div>
        <div class="col text-muted tp-vcenter">Expiration date</div>
        <div class="col text-muted tp-vcenter">Details</div>
        <div class="col text-muted tp-vcenter" *ngIf="isTrainer && isUser">
          Actions
        </div>
      </div>
    </mat-card>
    <mat-card class="mt-4" *ngFor="let card of cards">
      <app-trainer-card-list-item
        [card]="card"
        [isUser]="isUser"
        [isTrainer]="isTrainer"
        [userId]="userId"
        [trainerId]="trainerId"
      ></app-trainer-card-list-item>
    </mat-card>
  </div>
  <div class="col-lg"></div>
</div>
