.my-label {
  float: left;
}

::ng-deep .mat-select-value {
  color: #999999;
}

::ng-deep .mat-input-element:enabled {
  color: #999999;
}

::ng-deep .timepicker-dial__control:focus {
  outline: none !important;
  box-shadow: none;
}

textarea {
  resize: none !important;
}

.colorPicker {
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
}

.colorPicker::selection {
  background-color: var(--background-color);
}

.tp-input {
  cursor: pointer;
}

.tp-input:disabled {
  cursor: auto;
}
