<div [formGroup]="customControl.formGroup">
  <ng-template [ngIf]="customControl.controlType == 'input'">
    <form class="example-form"></form>
    <mat-form-field class="full-width">
      <input
        matInput
        [type]="customControl.type"
        [formControlName]="customControl.formControlName"
        [placeholder]="
          customControl.placeholder ? customControl.placeholder : ''
        "
        [min]="customControl.min"
        [step]="customControl.step"
        [ngClass]="customControl.class"
        [errorStateMatcher]="matcher"
      />
      <mat-error>
        <app-custom-error
          [customControl]="
            customControl.formGroup.get(customControl.formControlName)
          "
        ></app-custom-error>
      </mat-error>
    </mat-form-field>
  </ng-template>

  <ng-template [ngIf]="customControl.controlType == 'textarea'">
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>{{ customControl.label }}</mat-label>
      <textarea
        matInput
        [formControlName]="customControl.formControlName"
        [placeholder]="
          customControl.placeholder ? customControl.placeholder : ''
        "
        class="tp-textarea"
        [ngClass]="customControl.class"
        [rows]="customControl.rows"
      ></textarea>
      <mat-error>
        <app-custom-error
          [customControl]="
            customControl.formGroup.get(customControl.formControlName)
          "
        ></app-custom-error> </mat-error
    ></mat-form-field>
  </ng-template>
  <ng-template [ngIf]="customControl.controlType == 'datePicker'">
    <mat-form-field class="full-width">
      <input
        matInput
        [matDatepicker]="datePicker"
        [placeholder]="customControl.placeholder"
        [formControlName]="customControl.formControlName"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="datePicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #datePicker startView="multi-year"></mat-datepicker>
      <mat-error>
        <app-custom-error
          [customControl]="
            customControl.formGroup.get(customControl.formControlName)
          "
        ></app-custom-error>
      </mat-error>
    </mat-form-field>
  </ng-template>
  <ng-template [ngIf]="customControl.controlType == 'select'">
    <mat-form-field class="full-width">
      <mat-label>{{ customControl.label }}</mat-label>
      <mat-select
        [formControlName]="customControl.formControlName"
        [multiple]="customControl.multiple"
      >
        <mat-option
          class="text-muted"
          *ngFor="let value of customControl.values; let i = index"
          [value]="value"
          >{{ customControl.values[i] }}</mat-option
        >
      </mat-select>
      <mat-error>
        <app-custom-error
          [customControl]="
            customControl.formGroup.get(customControl.formControlName)
          "
        ></app-custom-error>
      </mat-error>
    </mat-form-field>
  </ng-template>
</div>
