<div [formGroup]="customControl.formGroup">
  <ng-template [ngIf]="customControl.controlType == 'input'">
    <label [for]="customControl.formControlName" class="my-label text-muted">{{
      customControl.label
    }}</label>
    <form class="example-form"></form>
    <mat-form-field class="full-width">
      <input
        matInput
        [type]="customControl.type"
        [formControlName]="customControl.formControlName"
        [placeholder]="
          customControl.placeholder ? customControl.placeholder : ''
        "
        [min]="customControl.min"
        [step]="customControl.step"
        [ngClass]="customControl.class"
      />
      <mat-error>
        <app-custom-error
          [customControl]="
            customControl.formGroup.get(customControl.formControlName)
          "
        ></app-custom-error>
      </mat-error>
    </mat-form-field>
  </ng-template>

  <ng-template [ngIf]="customControl.controlType == 'checkbox'">
    <input
      type="checkbox"
      class="form-check-input"
      [formControlName]="customControl.formControlName"
    />
    <label
      class="form-check-label text-muted"
      [for]="customControl.formControlName"
      >{{ customControl.label }}</label
    >
  </ng-template>

  <ng-template [ngIf]="customControl.controlType == 'textarea'">
    <label
      [for]="customControl.formControlName"
      class="my-label text-muted mt-4"
      >{{ customControl.label }}</label
    >
    <textarea
      [formControlName]="customControl.formControlName"
      [placeholder]="customControl.placeholder ? customControl.placeholder : ''"
      class="form-control text-muted"
      [ngClass]="customControl.class"
      [rows]="customControl.rows"
    ></textarea>
  </ng-template>
</div>
