<div class="row">
  <div *ngIf="isTrainer && !isUser" class="col text-muted tp-vcenter">
    {{ card.userName }}
  </div>
  <div *ngIf="!isTrainer && isUser" class="col text-muted tp-vcenter">
    {{ card.trainerName }}
  </div>
  <div class="col text-muted tp-vcenter">{{ card.name }}</div>
  <div class="col text-muted tp-vcenter">
    {{ card.expirationDate ? date : 'unlimited' }}
  </div>
  <div class="col">
    <button
      mat-raised-button
      color="primary"
      class="btn-block btn-no-shadow"
      (click)="viewDetails()"
    >
      View details
    </button>
  </div>
</div>
<div class="row">
  <div class="col">
    <button
      *ngIf="isUser && isTrainer"
      mat-raised-button
      color="primary"
      class="btn-block btn-no-shadow"
      (click)="editCard()"
    >
      Edit
    </button>
  </div>
  <div class="col">
    <button
      *ngIf="isUser && isTrainer"
      mat-raised-button
      color="warn"
      class="btn-block btn-no-shadow"
      (click)="deleteCard()"
    >
      Delete
    </button>
  </div>
  <div class="col">
    <button
      *ngIf="isUser && isTrainer"
      mat-raised-button
      color="primary"
      class="btn-block btn-no-shadow"
      (click)="deactivateCard()"
    >
      Deactivate
    </button>
  </div>
</div>
