<div class="row full-width">
  <div class="col-lg-4 mx-auto">
    <mat-card class="my-4 text-center">
      <i class="fas fa-check-circle tp-icon mt-1"></i>
      <h4 class="text-muted mt-1">Success!</h4>
      <h6 class="text-muted">
        Your email confirmation was successfull. Now you can sign in, using
        email and password.
      </h6>
      <button
        mat-raised-button
        color="primary"
        class="btn-block my-2 btn-no-shadow"
        (click)="signIn()"
      >
        Sign in
      </button>
    </mat-card>
  </div>
</div>
