<h1 mat-dialog-title class="text-muted mb-2">
  Change password
</h1>
<div mat-dialog-content>
  <form [formGroup]="passwordForm.passwordForm">
    <app-custom-control-group
      *ngFor="let controlGroup of formControls.controlGroups"
      [customControlGroup]="controlGroup"
    ></app-custom-control-group>
  </form>
</div>
<div mat-dialog-actions class="float-right">
  <button
    mat-raised-button
    color="primary"
    class="btn-no-shadow"
    (click)="changePassword()"
    [disabled]="!passwordForm.passwordForm.valid"
  >
    Change
  </button>
  <button
    mat-raised-button
    (click)="closeDialog()"
    class="btn-no-shadow btn-grey"
  >
    Cancel
  </button>
</div>
