<div class="full-width" *ngIf="isLoaded">
  <div class="col-lg-3"></div>
  <div
    class="col-lg-6 mx-auto pb-4"
    infinite-scroll
    (scrolled)="onScrollDown()"
  >
    <div
      class="row text-muted justify-content-center align-items-center mt-4"
      *ngIf="cards.length == 0 && isClub && !isUser"
    >
      You haven't sold any cards yet.
    </div>
    <div
      class="row text-muted justify-content-center align-items-center mt-4"
      *ngIf="cards.length == 0 && isClub && isUser"
    >
      This user hasn't bought any card in your club yet.
    </div>
    <div
      class="row text-muted justify-content-center align-items-center mt-4"
      *ngIf="cards.length == 0 && !isClub && isUser"
    >
      You haven't bought any cards yet.
    </div>
    <div class="tp-right mt-4" *ngIf="isClub && !isUser && cards.length != 0">
      <button
        mat-raised-button
        color="primary"
        class="btn-block btn-no-shadow w-25"
        (click)="goToUserList()"
      >
        Add Card
      </button>
    </div>
    <div class="mt-4 tp-center" *ngIf="isClub && !isUser && cards.length == 0">
      <button
        mat-raised-button
        color="primary"
        class="btn-block btn-no-shadow w-25"
        (click)="goToUserList()"
      >
        Add Card
      </button>
    </div>
    <div class="tp-right mt-4" *ngIf="isClub && isUser && cards.length != 0">
      <button
        mat-raised-button
        color="primary"
        class="btn-block btn-no-shadow w-25"
        (click)="addCard()"
      >
        Add Card
      </button>
    </div>
    <div class="tp-center mt-4" *ngIf="isClub && isUser && cards.length == 0">
      <button
        mat-raised-button
        color="primary"
        class="btn-block btn-no-shadow w-25"
        (click)="addCard()"
      >
        Add Card
      </button>
    </div>
    <mat-card class="mt-4" *ngFor="let card of cards">
      <app-club-card-list-item [card]="card"></app-club-card-list-item>
    </mat-card>
  </div>
  <div class="col-lg-3"></div>
</div>
