<div class="row">
  <div class="col-3">
    <img
      class="tp-image"
      src="{{
        trainer.user.profilePicture != null
          ? trainer.user.profilePicture
          : 'https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png'
      }}"
      alt="Profile Picture"
    />
  </div>
  <div class="col-9 tp-padd">
    <div class="mb-3">
      <h5 class="text-muted mt-1 tp-inline">
        {{ trainer.user.firstName + ' ' + trainer.user.lastName }}
      </h5>
      <button
        mat-raised-button
        color="primary"
        class="btn-block btn-no-shadow w-25 float-right tp-inline"
      >
        View details
      </button>
    </div>
    <p class="text-muted mb-2">
      <span><i class="fa fa-envelope" aria-hidden="true"></i></span>
      {{ trainer.user.email }}
    </p>
    <p class="text-muted mb-2" *ngIf="trainer.phoneNumber != null">
      <span><i class="fa fa-phone" aria-hidden="true"></i></span>
      {{ trainer.phoneNumber }}
    </p>

    <p class="text-muted mb-2">
      <span><i class="fa fa-home" aria-hidden="true"></i></span>
      {{ trainer.user.city }}
    </p>
    <p class="text-muted mb-0">
      <span><i class="fas fa-dumbbell"></i></span>
      {{ sports }}
    </p>
  </div>
</div>
