<div class="row">
  <div class="col-3">
    <img
      class="tp-image"
      src="{{
        trainer.user.profilePicture != null
          ? trainer.user.profilePicture
          : 'https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png'
      }}"
      alt="Profile Picture"
    />
  </div>
  <div class="col-9" style="padding-left: 35px;">
    <h5 class="text-muted mb-3 mt-1">
      {{ trainer.user.firstName + ' ' + trainer.user.lastName }}
    </h5>
    <p class="text-muted mb-2">
      <span><i class="fa fa-envelope" aria-hidden="true"></i></span>
      {{ trainer.user.email }}
    </p>
    <p class="text-muted mb-2" *ngIf="trainer.phoneNumber != null">
      <span><i class="fa fa-phone" aria-hidden="true"></i></span>
      {{ trainer.phoneNumber }}
    </p>

    <p class="text-muted mb-2">
      <span><i class="fa fa-home" aria-hidden="true"></i></span>
      {{ trainer.user.city }}
    </p>
    <p class="text-muted mb-0">
      <span><i class="fas fa-dumbbell"></i></span>
      {{ sports }}
    </p>
  </div>
</div>
