<h1 mat-dialog-title class="text-muted mb-2">
  {{ action + ' Activity' }}
</h1>
<div mat-dialog-content>
  <div *ngIf="action != 'Delete'; else elseTemplate">
    <img
      class="tp-image"
      src="{{
        localData.picture != null
          ? localData.picture
          : 'https://i.ibb.co/d0Zg3qs/newgym.png'
      }}"
      alt="Profile Picture"
    /><br />
    <div *ngIf="localData.picture == null">
      <input
        type="file"
        id="file"
        accept="image/*"
        (change)="changePictureListener($event)"
      />
      <label for="file" class="my-btn tp-btn text-center">Add photo</label>
    </div>
    <button
      mat-raised-button
      color="primary"
      class="btn-no-shadow btn-block tp-btn"
      *ngIf="localData.picture != null"
      (click)="localData.picture = null"
    >
      Delete photo
    </button>
    <mat-form-field class="tp-width mt-2">
      <input
        placeholder="Name"
        matInput
        [(ngModel)]="localData.name"
        required
        maxlength="30"
      />
    </mat-form-field>
    <mat-form-field class="tp-width mt-2">
      <input
        placeholder="Duration"
        matInput
        required
        min="0"
        max="1000"
        type="number"
        [(ngModel)]="localData.duration"
      />
      <span matSuffix class="text-muted">min</span>
    </mat-form-field>
    <mat-form-field class="tp-width mt-2">
      <input
        placeholder="Calories"
        matInput
        required
        min="0"
        max="4000"
        type="number"
        [(ngModel)]="localData.calories"
      />
    </mat-form-field>
    <mat-form-field class="tp-width mt-2">
      <mat-label>Level</mat-label>
      <mat-select [(ngModel)]="localData.level" required>
        <mat-option value="Beginner" class="text-muted">Beginner</mat-option>
        <mat-option value="Intermediate" class="text-muted"
          >Intermediate</mat-option
        >
        <mat-option value="Advanced" class="text-muted">Advanced</mat-option>
        <mat-option value="All" class="text-muted">All</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <ng-template #elseTemplate>
    <div class="text-muted tp-padd">
      Are you sure to delete <b>{{ localData.name }}</b
      >?
    </div>
  </ng-template>
</div>
<div mat-dialog-actions class="float-right">
  <button
    mat-raised-button
    color="primary"
    class="btn-no-shadow"
    (click)="doAction()"
    [disabled]="
      !localData.name ||
      !localData.duration ||
      !localData.calories ||
      !localData.level ||
      localData.duration < 0 ||
      localData.duration > 1000 ||
      localData.calories < 0 ||
      localData.calories > 4000
    "
  >
    {{ action }}
  </button>
  <button
    mat-raised-button
    (click)="closeDialog()"
    color="warn"
    class="btn-no-shadow"
  >
    Cancel
  </button>
</div>
