<div class="row full-width">
  <div class="col-lg-4 mx-auto">
    <mat-card class="my-4">
      <form class="text-center p-5" [formGroup]="loginForm.loginForm">
        <app-custom-control-group
          *ngFor="let controlGroup of formControls.controlGroups"
          [customControlGroup]="controlGroup"
        ></app-custom-control-group>

        <button
          mat-raised-button
          color="primary"
          class="btn-block my-4 btn-no-shadow"
          type="submit"
          [disabled]="!loginForm.loginForm.valid"
          (click)="signIn()"
        >
          Sign in
        </button>
        <div class="text-muted">or</div>
        <button
          mat-raised-button
          class="btn-block mt-4 mb-2 btn-no-shadow btn-fb left-icon-holder"
          (click)="signInWithFb()"
        >
          <mat-icon class="fab fa-facebook-f"></mat-icon>
          Sign in with Facebook
        </button>
        <button
          mat-raised-button
          class="btn-block mb-4 btn-no-shadow btn-gg left-icon-holder"
          (click)="signInWithGoogle()"
        >
          <mat-icon class="fab fa-google"></mat-icon>
          Sign in with Google
        </button>
        <p class="text-muted">
          Not a member?
          <a routerLink="/register" class="btn-rg">Register</a>
        </p>
      </form>
    </mat-card>
  </div>
</div>
