.row {
  width: 100%;
}

.btn-fb {
  background-color: #3b5998;
}

.btn-google {
  background-color: #4285f4;
}

.btn-base {
  color: white;
  transition: all 0.3s ease 0s;
}

.btn-fb:hover {
  background-color: #2f477a;
}

.btn-google:hover {
  background-color: #0e61ea;
}
