<nav class="navbar navbar-expand-sm navbar-custom ">
  <a class="navbar-brand" [routerLink]="['/user']">TrainingPlanner</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li
        class="nav-item tp-link"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a class="nav-link" [matMenuTriggerFor]="menu"
          >My account<span class="sr-only">(current)</span></a
        >
        <mat-menu #menu="matMenu">
          <button
            mat-menu-item
            class="text-muted btn-no-shadow"
            [routerLink]="['/profile/user']"
          >
            User profile
          </button>
          <button
            mat-menu-item
            class="text-muted btn-no-shadow"
            [routerLink]="['/profile/trainer']"
          >
            Trainer profile
          </button>
          <button
            mat-menu-item
            class="text-muted btn-no-shadow"
            [routerLink]="['/profile/clubs']"
          >
            My clubs
          </button>
        </mat-menu>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button
        mat-raised-button
        *ngIf="!isUserAuthenticated()"
        class="my-2 my-sm-0 btn-log"
        color="basic"
        type="button"
        [routerLink]="['/login']"
      >
        Login
      </button>
      <button
        mat-raised-button
        *ngIf="isUserAuthenticated()"
        class="my-2 my-sm-0 btn-log"
        type="button"
        color="basic"
        (click)="logout()"
        [routerLink]="['/login']"
      >
        Logout
      </button>
    </form>
  </div>
</nav>
