<h1 mat-dialog-title class="text-muted mb-0">
  {{ action + ' Review' }}
</h1>
<div mat-dialog-content>
  <div *ngIf="action != 'Delete'; else elseTemplate">
    <ngb-rating [(rate)]="localData.rate" class="btn-no-shadow">
      <ng-template let-fill="fill" let-index="index">
        <span class="star" [class.filled]="fill === 100">&#9733;</span>
      </ng-template>
    </ngb-rating>
    <mat-form-field class="tp-width" appearance="outline">
      <mat-label>Description</mat-label>
      <textarea
        placeholder="Description"
        class="text-muted"
        matInput
        rows="10"
        [(ngModel)]="localData.description"
      ></textarea>
    </mat-form-field>
  </div>
  <ng-template #elseTemplate>
    <div class="text-muted tp-padd">
      Are you sure to delete this review?
    </div>
  </ng-template>
</div>
<div mat-dialog-actions class="float-right">
  <button
    mat-raised-button
    color="primary"
    class="btn-no-shadow"
    [disabled]="
      localData.rate != 1 &&
      localData.rate != 2 &&
      localData.rate != 3 &&
      localData.rate != 4 &&
      localData.rate != 5
    "
    (click)="doAction()"
  >
    {{ action }}
  </button>
  <button
    mat-raised-button
    (click)="closeDialog()"
    color="warn"
    class="btn-no-shadow"
  >
    Cancel
  </button>
</div>
