<h1 mat-dialog-title class="text-muted mb-2">
  {{ action + ' Review' }}
</h1>
<div mat-dialog-content>
  <div *ngIf="action != 'Delete'; else elseTemplate">
    <ngb-rating [(rate)]="currentRate" class="btn-no-shadow">
      <ng-template let-fill="fill" let-index="index">
        <span class="star" [class.filled]="fill === 100">&#9733;</span>
      </ng-template>
    </ngb-rating>
    <hr />
    <pre>Rate: <b>{{currentRate}}</b></pre>
    <mat-form-field class="tp-width" appearance="outline">
      <mat-label>Description</mat-label>
      <textarea
        placeholder="Description"
        maxlength="200"
        matInput
        rows="5"
        [(ngModel)]="localData.description"
      ></textarea>
    </mat-form-field>
  </div>
  <ng-template #elseTemplate>
    <div class="text-muted tp-padd">
      Are you sure to delete <b>{{ localData.name }}</b
      >?
    </div>
  </ng-template>
</div>
<div mat-dialog-actions class="float-right">
  <button
    mat-raised-button
    color="primary"
    class="btn-no-shadow"
    (click)="doAction()"
  >
    {{ action }}
  </button>
  <button
    mat-raised-button
    (click)="closeDialog()"
    color="warn"
    class="btn-no-shadow"
  >
    Cancel
  </button>
</div>
