<div class="full-width">
  <div class="col-lg-3"></div>
  <div
    class="col-lg-6 mx-auto tp-main-col pb-4"
    infinite-scroll
    (scrolled)="onScrollDown()"
  >
    <div class="tp-right mt-4">
      <button
        mat-raised-button
        color="primary"
        class="btn-block btn-no-shadow w-25"
      >
        Add Review
      </button>
    </div>
    <mat-card class="mt-4">
      <app-trainer-review-list-item></app-trainer-review-list-item>
    </mat-card>
  </div>
  <div class="col-lg-3"></div>
</div>
