<div class="full-width" *ngIf="isLoaded">
  <div class="col-lg-3"></div>
  <div
    class="col-lg-6 mx-auto tp-main-col pb-4"
    infinite-scroll
    (scrolled)="onScrollDown()"
  >
    <div class="tp-right mt-4" *ngIf="isUserAuthenticated">
      <button
        *ngIf="!isEdit"
        mat-raised-button
        color="primary"
        class="btn-block btn-no-shadow w-25"
        (click)="openReviewDialog('Add', {})"
      >
        Add Review
      </button>
      <button
        *ngIf="isEdit"
        mat-raised-button
        color="primary"
        class="btn-block btn-no-shadow w-25"
        (click)="openReviewDialog('Edit', rate)"
      >
        Edit Review
      </button>
      <button
        *ngIf="isEdit"
        mat-raised-button
        color="warn"
        class="btn-block btn-no-shadow w-25 ml-2"
        (click)="openReviewDialog('Delete', rate)"
      >
        Delete Review
      </button>
    </div>
    <mat-card class="mt-4" *ngFor="let review of reviews">
      <app-trainer-review-list-item
        [rate]="review"
      ></app-trainer-review-list-item>
    </mat-card>
  </div>
  <div class="col-lg-3"></div>
</div>
